/* ------------------------------
   Font Setup
------------------------------ */
@font-face {
    font-family: "Pixelify Sans";
    src: url("fonts/PixelifySans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Pixelify Sans";
    src: url("fonts/PixelifySans-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Pixelify Sans";
    src: url("fonts/PixelifySans-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Pixelify Sans";
    src: url("fonts/PixelifySans-Bold.ttf");
    font-weight: 700;
}

/* Root global style */
.root {
    -fx-font-family: "Pixelify Sans";
    -fx-font-size: 18px;
}

/* Weight utilities */
.normal-text {
    -fx-font-weight: 400;
}

.medium-text {
    -fx-font-weight: 500;
}

.semibold-text {
    -fx-font-weight: 600;
}

.bold-text {
    -fx-font-weight: 700;
}
